[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_907AFDE55157355957202020FF0E1F12-if00
x_offset: 0 
##	X offset for Stealthburner style toolhead is 0
y_offset: 21
##	Update with offset from nozzle center to beacon coil center.
##	This will be positive if beacon is behind the nozzle.

mesh_main_direction: x
mesh_runs: 2

#default_probe_method: proximity
##	Sets the default probing method for mesh, tilt, qgl, probe, etc.
home_method: contact 
##	Use contact for homing if the printer is unhomed
home_method_when_homed: proximity 
##	After initial calibration use induction homing
home_autocalibrate: unhomed 
##	Calibrate beacon on first home

contact_max_hotend_temperature: 180 
##	Temperature limit for the hotend when contacting, override this for temps which may damage some surfaces.


##--------------------------------------------------------------------

##  Uncomment below for 250mm build
#home_xy_position: 125, 125 

##  Uncomment for 300mm build
home_xy_position: 150, 150 

##  Uncomment for 350mm build
#home_xy_position: 175, 175 

##--------------------------------------------------------------------
#
home_z_hop: 5
home_z_hop_speed: 30
home_xy_move_speed: 300

# (alex) safe_z_home should be removed as per:
# https://docs.beacon3d.com/contact/
# when running beacon contact
#[safe_z_home]
#home_xy_position: 150, 150 # update for your machine
#z_hop: 3

# copy this 300x300 voron config: https://github.com/zztopper/voron_v2.4_1030/blob/main/bed_mesh.cfg
[bed_mesh]
mesh_min = 30, 30
mesh_max = 270, 270
## 900
speed = 120 
horizontal_move_z = 5
probe_count = 6,6
#algorithm = bicubic
##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
##[(9x9)-1] / 2 = 40
#relative_reference_index: 40
#zero_reference_position: 150, 150
#relative_reference_index: 15
#split_delta_z = 0.0125
#move_check_distance = 3
#mesh_pps = 4,4
#fade_start = 0
#fade_end = 2
#fade_target = 0


#####################################################################
#   Probe
#####################################################################

# (alex) Removed due to beacon.cfg
#[probe]
##  Inductive Probe
##  Connected to Z-PROBE
##  This probe is not used for Z height, only Quad Gantry Leveling
#pin: nhk:gpio10
#x_offset: 0
#y_offset: 25.0
#z_offset: 0
#speed: 10.0
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.006
#samples_tolerance_retries: 3










